* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden; /* Disable default scrolling */
}

.header{
    position:fixed;
    top:0;
    width:100%;
    height: 15vh;
    padding: 20px, 10%;
    background: rgb(11, 49, 130);
    display: flex;
    align-items: center;
    z-index: 100;
}
.rob{
    margin-left: 580px;
    color: white;
}

.toggle{
    position: absolute;
    height:80px;
    width: 80px;  
    top: 20px;  
    right: 50px; 
    z-index: 1; 
    cursor: pointer; 
    border-radius: 2p; 
    background-color: rgb(11, 49, 130);

}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
ion-icon{
    width: 50px;
    height: 100px;
    color: white;
    margin-left: 30px;
}
.house:hover{
    transition: .3s ease-in;
    color: rgb(79, 141, 233);
}

.toggle .common{
    position: absolute; 
    height: 3px;   
    width: 50px;   
    background-color: #ffffff;
    border-radius: 50px;  
    transition: 0.3s ease; 
}

.toggle .top_line{
    top:12%; 
    left: 14px; 
    transform: translate (-50%, -50%);
    height: 5px;
}

.toggle .middle_line{
    top:37%;  
    left: 50%;  
    transform: translate( -50%, -50%);
    height: 5px;
}

.toggle .bottom_line{
    top: 57%;  
    left: 14px;  
    transform: translate (-50%, -50%);
    height: 5px;
}

input:checked ~ .toggle .top_line{
    left: 10px;  
    top: 37px; 
    width: 60px; 
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line{
    left: 10px; 
    top: 37px;  
    width: 60px;  
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line{
   left: 2px; 
   top: 14px;  
   width: 25px;  
    opacity: 0; 
   transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
     box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.slide{
    margin-top: 66px;
      height: 280px;
      width: 350px;
      position: absolute;
      background-color: rgb(255, 255, 255);
      backdrop-filter:  blur(20px);
      box-shadow: -1px 10 10px #000000;
      transition: 0.3s ease;
      transform: translateX(2000px);
      border: transparent;
      right: 0px;
  }
.slide li{
    margin-top: 10px;
    padding: 2px;
    align-items: center;
    margin-left: 20px;
    list-style-type: none;
    color: black;
}
.slide li a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.slide li a:hover{
    color: rgb(63, 114, 189);
    transition: 0.1s ease-in-out;
    font-weight: 100;
    font-size: 27px;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 11% 3% 3%;
    height: 300vh; /* Increase height to enable scrolling */
}

.column {
    ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    padding: 0 6px;
}

.column .image {
    position: relative;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Start position for the animation */
    transition: opacity 1s, transform 1s; /* Smooth transition for both properties */
}

.column .image.visible {
    opacity: 1; /* Visible when in the viewport */
    transform: translateY(0); /* End position for the animation */
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    display: block;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
}

.image:hover .content {
    opacity: 1;
}

.content h1 {
    font-size: 45px;
    color: #298cc5;
    margin-bottom: 10px;
}

.content p {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.content > * {
    transform: translateY(25px);
    transition: transform 1s;
}

.image:hover .content > * {
    transform: translateY(0px);
}

@media screen and (max-width: 900px) {
    .row {
        padding: 17% 3% 3%;
    }

    .column {
        flex: 48%;
        max-width: 48%;
    }
}

@media screen and (max-width: 620px) {
    .row {
        padding: 25% 3% 3%;
    }
    
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
